body, html {
	background-color: #151515;
	color: white;
	font-family: helvetica, arial, sans;
	font-size: 14px;
	margin: 0px;
	height: 100%;
}

.centerBox {
	background-color: #0D0D0D;
	border: 1px solid #080808;
	border-right: 1px solid #202020;
	border-bottom: 1px solid #202020;
	border-radius: 6px;
	margin: 0 auto;
	width: 360px;
	padding: 0px 8px;
	top: 196px;
	position: relative;
}

.centerBox p {
	margin-top: 2px;
	font-size: 14px;
}

.centerBox h2 {
	margin-bottom: 2px;
	font-size: 1.8em;
}

.error {
	color: red;
}

div.menubar {
	background: #313131;
}

div.menubar table {
	border-collapse: collapse;
}

div.menubar table td {
	vertical-align: middle;
}

div#wrapper {
	height: 100%;
}

table#wrapper {
	border-collapse: collapse;
	height: 100%;
}

ul.menubarItems {
	margin: 0;
	padding: 0;
}

ul.menubarItems li {
	display: inline;
}

ul.menubarItems li a, a.menuButton {
	line-height: 28px;
	padding: 6px 8px;
	margin: 0px;
	color: white;
}

ul.menubarItems li a:hover, a.menuButton:hover {
	background: #515151;
}

ul.list {
	margin: 0px;
	padding: 0px;
	list-style: none;
	border-top: 1px solid grey;
}

ul.list li {
	border-bottom: 1px solid grey;
	padding: 1px 0px;
}

ul.list li a {
	color: white;
	line-height: 24px;
	display: block;
	padding-left: 8px;
}

ul.list li a:hover {
	background: #515151;
}

.listSelected a {
	background: #757575;
}

.sidebar {
	background: #262626;
	width: 240px;
}

.sidebar h2 {
	padding-left: 8px;
}

p.small {
	font-size: 12px;
}

a {
	color: #516CD9;
	text-decoration: none;
}

a:hover {
	color: #EEEEEE;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0.35em;
}

table {
	width: 100%;
}

table td {
	padding: 0px;
	vertical-align: top;
}

/* Bad hack to get inputs aligned right */
table input[type="text"], table input[type="password"] {
	width: 95%;
}

input[type="text"], input[type="password"] {
	border: 1px solid #181818;
	border-right: 1px solid #383838;
	border-bottom: 1px solid #383838;
	background-color: #313131;
	color: white;
	border-radius: 3px;
	outline: none;
	padding: 2px;
	text-shadow: 1px 1px 0px #111;
}